.home-container {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('https://images.pexels.com/photos/259962/pexels-photo-259962.jpeg?auto=compress&cs=tinysrgb&w=1800&h=850');
  background-position: absolute;
  background-size:cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: -111px;
}

.interpol {
  font-size: 49px;
  display: flex;
  text-align: center;
  margin-left: 0px;
  font-weight: bold;
  color: #fafaf6;
}


.homepage-title {
  font-family: 'Poppins', sans-serif;
  color: #F8B500;
  text-align: center;
  font-weight: bolder;
  font-size: 64px;
  // &:hover{
  //   filter: blur(2px) opacity(80%);
  // }
}

.tagline-text{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

}
.submit-button{
  background-color: #00ADB5;
  color: white;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 16px;
}

.search {
  width: 100%;
  position: relative;
}

.submit {
  height: 36px !important;
}

.searchTerm {
  float: left;
  width: 100%;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  border: none;
  font-size: 16px;
}
.search-button {
  display: flex;
  height: 36px !important;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

