.show-banner {
  width: 100vw;
  height: 300px;
  z-index: 1;

  // background-color: rebeccapurple;
}

.show-title-info-price {
  margin-top: 12px;
}

.round-inline-block {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;

  &+ span {
    font-size: 15px;

    &+ h5 {
      margin: 0;
    }
  }
}

.show-map {
  position: absolute;
  width: 100vw;
  height: 300px;
}

.show-content {
  display: flex;
}

.show-content-and-chart {
  width: 90vw;
  margin-left: 5vw;
  position: relative;
  top: -120px;
  background-color: white;
  border-radius: 3px;
  height: 1200px;
  z-index: 999999999;
}

.show-content-left {
  width: 61vw;
  height: 600px;
}

.show-content-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
  width: 38vw;

}

.show-card-right {
  height: 400px;
  width: 400px;
  border-radius:3px;
  border: 1px solid;
  box-shadow: 0.4px 0.4px;
  margin-top: 10px;

}

.btn-gemfinder {
  background-color: #00ADB5;
  color: white;
  padding: 10px 15px;
  margin: 10px auto 0;
  text-align: center;
  border-radius: 3px;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9;
  }
}

.show-title-info {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
  height: 100px;

}

.show-details-prices {
  font-size: 16px;

}


.show-title-info-text-title {
  color: #A3A3A3;
  font-size: 14px;
  font-family: 'Sackers gothic', sans-serif;
}
.show-title-info-text-road {
  font-size: 26px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  font-family: 'Sackers gothic', sans-serif;
}

.show-details-prices-box-title {
  font-size: 14px;
  color: #A3A3A3;
}

.show-details-prices-box-price {
  font-size: 16px;
  font-weight: bold;
}

.show-statistics-box-rating {
  text-align: center;
}

.show-statistics-title {
  font-size: 16px;
}

.show-statistics-box-title {
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  color: white;
  padding-top: 5px;
}

.show-details-prices {
  height: 130px;
  width: 50vw;
  margin: 0 auto;
}

.show-details-prices-container {
  display: flex;
  justify-content: space-around;
}

.show-description {
  height: 120px;
  width: 50vw;
  margin: 0 auto;
  border-top: 0.5px solid #A3A3A3;
  border-bottom: 0.5px solid #A3A3A3;
  padding: 15px 0;
  font-family: 'Lato', sans-serif;
}

.show-statistics {
  height: 150px;
  width: 50vw;
  margin: 0 auto;
}

.show-statistics-container {
  display: flex;
  justify-content: space-around;
}
