<h1 class="header_form">Add your Property</h1>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <%= simple_form_for(@property) do |f|%>
    <div class="row_form">
      <div class="col-xs-12 col-sm-4-offset-3">
      <%= f.input :name %>
      <%= f.input :address%>

      <%= f.submit class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
