<h1>Property#show</h1>
<p>Find me in app/views/property/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <%= @property.name  %>
          <%= link_to "Track Property", trackings_path(tracking: {property_id: @property,user_id: current_user}), method: :post %>
      <% if @property.photo? %>
        <div class="showcard" style="background-image: url('<%= cl_image_path @property.photo, height: 300, width: 400 %>');background-size: cover;">
      <% else %>
        <div class="showcard" style="background-image: url('https://images.unsplash.com/photo-1540962351504-03099e0a754b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc84c9290e90088f8ab78270ee1ffdf&auto=format&fit=crop&w=500&q=60');">
      <% end %>
    </div>
  </div>
</div>

