<div class="about-us">
  <article>
    <h2>Strength in numbers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.</p>
  </article>
  <aside>
    <ul>
      <li>
        <h3>
          <span>27+</span>
          <span>Years of Service</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>500+</span>
          <span>Projects Implemented</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>1M+</span>
          <span>Custumers</span>
        </h3>
      </li>
    </ul>
  </aside>
</div>
