<div class="contactheading">
  <h2><strong>How our ratings work</strong></h2>
</div>

<div class="hit-container col-sm-12">
  <div class="help col-sm-10 col-sm-offset-1">
    <p>Once you have clicked on a property to view, we have provided some important and useful information to help you make a better choice. Click on each individual tab which is named
    according to the type of information that we are displaying to you. Once you have looked at
    each tab, go back to the property information and look at whether we see it as a positive or
    negative opportunity.</p><p>Through the use of a five point rating, we have scored and indicated
    whether we believe a property to be an above average, average or below average opportunity. This is based on price, crime rating to calculate an overall score for opportunity. For
    your convenience and for an easier understanding, we have used three colours alongside each rating.</p>
  </div>
  <div class="house-icon-container">
    <div class="house-icon">
      <div class="hit-image col-sm-3">
        <i class="colour1 fas fa-home"></i>
      </div>
      <div class="col-sm-9">
        <div class="colours">
          <p>A green colour indicates an above average rating</p>
        </div>
      </div>
      <div class="hit-image col-sm-3">
        <i class="colour2 fas fa-home"></i>
      </div>
      <div class="col-sm-9">
        <div class="colours">
          <p>A yellow colour indicates an average rating</p>
        </div>
      </div>
      <div class="hit-image col-sm-3">
        <i class="colour3 fas fa-home"></i>
      </div>
      <div class="col-sm-9">
        <div class="colours">
          <p>A red colour indicates a below average rating</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="hit-container col-sm-12">
 --><!--   <div class="hit-image col-sm-6">
    <i class="fas fa-home"></i>
  </div>
  <div class="help col-sm-6">
   <div class="colour"><strong>red</strong></div> which indicates a below average score, the colour <div class="colour2">orange</div> which indicates an average score and the colour <div class="colour3">green</div> which indicates an above average score.</p>
  </div>
</div>
 -->
