#properties-index {
  // margin: 20px 30px;
  margin: 0;

  #map-background {
    position: fixed;
    top: 111px;
    width: calc(100vw - (100vw - 100%));
    height: calc(100vh - 111px);
  }

  #map {
    position: sticky;
    top: 150px;
    width: 50%;
    height: calc(100vh - 180px);
    margin-left: 30px;
    margin-top: 20px;
    // border: 1px solid $colour-dark;
    // box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  .container {
    // width: auto;
    margin: 0 0 20px 0;
    padding-left: 0;
    padding-right: 0;

    &> div:first-child {
      margin-bottom: 10px;

      .btn-gemfinder {
        padding: 0;
      }
    }

    .filters {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p, button {
        flex: 0 0 25%;
        font-size: 20px;
        margin-bottom: 0;
      }

      button {
        font-weight: bold;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}

.properties-wrapper {
  position: absolute;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  width: 60%;
}

.property-card {
  // width: 480px;
  position: relative;
  background: white;
  border: 1px solid $colour-dark;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sackers Gothic', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.property-card-header {
  padding: 25px 30px;

  p {
    margin-bottom: 5px;
    font-family: 'Sackers Gothic', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
  }
}

.property-card-thumbnail {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.property-card-content {
  padding: 30px;
  height: 180px;
  overflow: hidden;
  text-align: justify;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h3 {
      margin-bottom: 20px;
      font-size: 20px;
    }

    h6 {
      margin: 0;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.4em;
  }
}

.property-card-footer {
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    width: 50%;
    padding: 20px;
    font-family: 'Sackers Gothic', sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $colour-dark;

    &:last-child {
      background-color: $colour-dark;
      color: $colour-light;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

// .james {
//   display: flex !important;
//   justify-content: space-between !important;
//   h3 {
//     text-align: center;
//     margin: 5px;
//   }
// }

.property-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $colour-dark;
  opacity: 0;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.05;
  }
}

.property-card-track {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 65px;
  z-index: 3;
  background: transparent;
}
.fonts-awesome {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.showcard {
  height: 500px;
  width: 1400px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 700px;
  border-radius:3px;
  border: 1px solid;
  box-shadow: 0.4px 0.4px;
  position: relative;
}

.property_info {
  display: flex !important;

}

.propery-show-text {
  padding: 0 100px;
  position: relative;
}

.property-price-link {
    position: absolute;
    bottom: 0;
}

.headingdashboard{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #606060;
}

.property-price-show {
  display: flex;
  justify-content: space-between;
}

.buttonproperties{
  text-align: center;
  font-size: 15px;
  width: 170px;
  padding: 10px 0;
  background-color: #00ADB5;
  position: relative;
  border-radius: 3px;
  text-align: center;
  bottom: 100px;
  right: 30px;
    color: white;
  text-decoration: none;
  &:hover{
  color: white;
  opacity: 0.9;
  text-decoration: none;
  }
}

.whatever {
  display: flex;
  justify-content: flex-end;
}

.contactheading{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
