.help{
  text-align: center;
  padding: top;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 50px;
  font-family: 'Open Sans', sans-serif;
}

.hit-container {
  margin-top: 20px;
  color: #606060;
}

.hit-item {
  text-align: center;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.colour1{
  color: #00ADB5;
  font-size: 100px;
  margin-left: 116px;
  padding-top: 40px;
}

.contactheading{
  color: #63686e;
}

.colour2{
  color: #F8B500;
  font-size: 100px;
  margin-left: 116px;
  padding-top: 40px;
}

.colour3{
  color: red;
  font-size: 100px;
  margin-left: 116px;
  padding-top: 40px;
}

.colours{
  font-size: 20px;
  height: 70px;
  margin-top: 70px;
}

.color{
  color: green;
}


