.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

  .ben-test {
    height: 15px;
    width: 15px;

    background-image: url('https://i.imgur.com/AWXUpL0.png?2');
    background-position: center;
}
